Repository codesquad-team-06/todo-max, pull requests merged in 2023-07, with the labels that each got.

#17 [FE] 메인화면 일부 UI 작업
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/Column.tsx
  frontend/src/components/ColumnCard.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/MainContent.tsx
  frontend/src/components/common/IconButton.tsx
  frontend/src/styles/designSystem.ts
Labels: feat, frontend

#19 [FE] 활동기록 레이어 UI 작업 마무리 및 모달 수정
  frontend/src/App.tsx
  frontend/src/components/ActivityHistory.tsx
  frontend/src/components/ActivityHistoryItem.tsx
  frontend/src/components/Modal.tsx
  frontend/src/logo.svg
Labels: feat, frontend

#26 [FE] MSW 설치 및 API spec에 나와있는 mock data 세팅
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/index.tsx
  frontend/src/mocks/browserServiceWorker.ts
  frontend/src/mocks/handlers.ts
Labels: chore, frontend

#34 [FE] 새로운 카드 추가 기능 관련 PR
  frontend/src/components/ActivityHistory.tsx
  frontend/src/components/Column.tsx
  frontend/src/components/ColumnCard/ColumnCardMode.tsx
  frontend/src/components/ColumnCard/NewColumnCard.tsx
Labels: feat, frontend

#22 [BE] Spring, React 수동 배포 스크립트 작성
  be/src/main/java/codesquad/todo/card/controller/CardListResponse.java
  be/src/main/java/codesquad/todo/column/service/ColumnService.java
  deploy.sh
Labels: documentation, infra

#25 [BE] 카드 등록, 수정, 삭제 기능 구현
  be/src/main/java/codesquad/todo/card/controller/CardRestController.java
  be/src/main/java/codesquad/todo/card/controller/dto/CardDeleteResponse.java
  be/src/main/java/codesquad/todo/card/controller/dto/CardModifyDTO.java
  be/src/main/java/codesquad/todo/card/controller/dto/CardModifyRequest.java
  be/src/main/java/codesquad/todo/card/controller/dto/CardModifyResponse.java
  be/src/main/java/codesquad/todo/card/controller/dto/CardSaveDTO.java
  be/src/main/java/codesquad/todo/card/controller/dto/CardSaveRequest.java
  be/src/main/java/codesquad/todo/card/controller/dto/CardSaveResponse.java
  be/src/main/java/codesquad/todo/card/repository/JdbcCardRepository.java
  be/src/main/java/codesquad/todo/card/service/CardService.java
  be/src/main/java/codesquad/todo/history/repository/JdbcHistoryRepository.java
  be/src/test/java/codesquad/todo/card/controller/CardRestControllerTest.java
  be/src/test/java/codesquad/todo/card/repository/JdbcCardRepositoryTest.java
Labels: feat, backend

#32 [BE] 예외 처리 매커니즘 구현
  be/src/main/java/codesquad/todo/errors/errorcode/CommonErrorCode.java
  be/src/main/java/codesquad/todo/errors/errorcode/ErrorCode.java
  be/src/main/java/codesquad/todo/errors/exception/RestApiException.java
  be/src/main/java/codesquad/todo/errors/handler/GlobalExceptionHandler.java
  be/src/main/java/codesquad/todo/errors/response/ErrorResponse.java
  be/src/main/java/codesquad/todo/errors/response/ValidationError.java
Labels: feat, backend

#33 [BE] 히스토리 조회 및 삭제 API 구현
  be/src/main/java/codesquad/todo/history/controller/HistoryRestController.java
  be/src/main/java/codesquad/todo/history/controller/dto/HistoryDeleteRequest.java
  be/src/main/java/codesquad/todo/history/controller/dto/HistoryFindAllResponse.java
  be/src/main/java/codesquad/todo/history/entity/Action.java
  be/src/main/java/codesquad/todo/history/entity/History.java
  be/src/main/java/codesquad/todo/history/repository/HistoryRepository.java
  be/src/main/java/codesquad/todo/history/repository/JdbcHistoryRepository.java
  be/src/main/java/codesquad/todo/history/service/HistoryService.java
  be/src/test/java/codesquad/todo/history/controller/HistoryRestControllerTest.java
  be/src/test/java/codesquad/todo/history/entity/ActionTest.java
  be/src/test/java/codesquad/todo/history/entity/HistoryTest.java
  be/src/test/java/codesquad/todo/history/repository/JdbcHistoryRepositoryTest.java
  be/src/test/java/codesquad/todo/history/service/HistoryServiceTest.java
Labels: feat, backend

#35 [BE] 버그 수정
  be/src/main/java/codesquad/todo/card/controller/CardRestController.java
Labels: bug

#47 [FE] 카드 수정 성공 응답에 대한 상태 업데이트
  frontend/package-lock.json
  frontend/src/components/Board.tsx
  frontend/src/components/Column.tsx
  frontend/src/components/ColumnCard/ColumnCard.tsx
  frontend/src/components/ColumnCard/ColumnCardMode.tsx
  frontend/src/mocks/handlers.ts
Labels: feat, frontend

#64 [FE] release 브랜치 PR
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/App.tsx
  frontend/src/components/ActivityHistory/ActivityHistory.tsx
  frontend/src/components/ActivityHistory/ActivityHistoryItem.tsx
  frontend/src/components/Board.tsx
  frontend/src/components/Card/Card.tsx
  frontend/src/components/Card/CardDisplay.tsx
  frontend/src/components/Card/CardMode.tsx
  frontend/src/components/Card/CardShadow.tsx
  frontend/src/components/Card/NewCard.tsx
  frontend/src/components/Column.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Modal.tsx
  frontend/src/components/common/AnimationWrapper.tsx
  frontend/src/components/common/IconButton.tsx
  frontend/src/context/ModalContext.tsx
  frontend/src/hooks/useModal.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/types.ts
Labels: frontend

#56 [BE] 컬럼 추가/수정/조회 기능 구현
  .github/pull_request_template.md
  be/build.gradle
  be/src/main/java/codesquad/todo/card/controller/CardListResponse.java
  be/src/main/java/codesquad/todo/card/controller/CardRestController.java
  be/src/main/java/codesquad/todo/card/controller/CardSearchResponse.java
  be/src/main/java/codesquad/todo/card/controller/dto/CardDeleteResponse.java
  be/src/main/java/codesquad/todo/card/controller/dto/CardModifyDTO.java
  be/src/main/java/codesquad/todo/card/controller/dto/CardMoveResponse.java
  be/src/main/java/codesquad/todo/card/repository/CardRepository.java
  be/src/main/java/codesquad/todo/card/repository/JdbcCardRepository.java
  be/src/main/java/codesquad/todo/card/service/CardService.java
  be/src/main/java/codesquad/todo/column/controller/ColumnModifyRequest.java
  be/src/main/java/codesquad/todo/column/controller/ColumnResponseDto.java
  be/src/main/java/codesquad/todo/column/controller/ColumnRestController.java
  be/src/main/java/codesquad/todo/column/controller/ColumnSaveDto.java
  be/src/main/java/codesquad/todo/column/controller/ColumnSaveRequest.java
  be/src/main/java/codesquad/todo/column/entity/Column.java
  be/src/main/java/codesquad/todo/column/repository/ColumnRepository.java
  be/src/main/java/codesquad/todo/column/repository/JdbcColumnRepository.java
  be/src/main/java/codesquad/todo/column/service/ColumnService.java
  be/src/main/java/codesquad/todo/errors/errorcode/ColumnErrorCode.java
  be/src/test/java/codesquad/todo/card/controller/CardRestControllerTest.java
  be/src/test/java/codesquad/todo/column/controller/ColumnRestControllerTest.java
  be/src/test/java/codesquad/todo/column/repository/JdbcColumnRepositoryTest.java
  be/src/test/java/codesquad/todo/column/service/ColumnServiceTest.java
Labels: feat, backend

#66 [BE] 카드 패키지 예외 처리 , 코딩 컨벤션
  be/src/main/java/codesquad/todo/card/controller/CardListResponse.java
  be/src/main/java/codesquad/todo/card/controller/CardRestController.java
  be/src/main/java/codesquad/todo/card/controller/dto/CardModifyRequest.java
  be/src/main/java/codesquad/todo/card/controller/dto/CardModifyResponse.java
  be/src/main/java/codesquad/todo/card/controller/dto/CardMoveResponse.java
  be/src/main/java/codesquad/todo/card/controller/dto/CardResponseDto.java
  be/src/main/java/codesquad/todo/card/controller/dto/CardSaveRequest.java
  be/src/main/java/codesquad/todo/card/controller/dto/CardSaveResponse.java
  be/src/main/java/codesquad/todo/card/repository/CardRepository.java
  be/src/main/java/codesquad/todo/card/repository/JdbcCardRepository.java
  be/src/main/java/codesquad/todo/errors/errorcode/CardErrorCode.java
  be/src/test/java/codesquad/todo/card/controller/CardRestControllerTest.java
  be/src/test/java/codesquad/todo/card/repository/JdbcCardRepositoryTest.java
Labels: feat, backend

#65 [BE] 표준 출력과 에러 출력을 로그 분리하여 저장
  deploy.sh
Labels: infra, backend

#68 [FE] 빌드 시 사용할 API_URL 추가
  frontend/src/components/ActivityHistory/ActivityHistory.tsx
  frontend/src/components/Board.tsx
  frontend/src/components/Card/CardDisplay.tsx
  frontend/src/components/Card/CardMode.tsx
  frontend/src/components/ColumnCard/ColumnCardMode.tsx
  frontend/src/index.tsx
Labels: frontend

#75 [BE] CORS 설정
  be/src/main/java/codesquad/todo/config/WebConfig.java
Labels: bug

#78 [FE] API_URL 변경
  frontend/src/index.tsx
Labels: chore, frontend

#77 [BE] 카드 조작 시 히스토리 생성 구현
  be/src/main/java/codesquad/todo/card/controller/CardRestController.java
  be/src/main/java/codesquad/todo/card/controller/dto/CardMoveRequest.java
  be/src/main/java/codesquad/todo/card/repository/JdbcCardRepository.java
  be/src/main/java/codesquad/todo/card/service/CardService.java
  be/src/test/java/codesquad/todo/card/controller/CardRestControllerTest.java
  be/src/test/java/codesquad/todo/card/repository/JdbcCardRepositoryTest.java
  be/src/test/java/codesquad/todo/card/service/CardServiceTest.java
Labels: feat

#81 [BE] 카드 조회 서비스 리팩토링
  be/src/main/java/codesquad/todo/card/controller/CardListResponse.java
  be/src/main/java/codesquad/todo/card/service/CardService.java
  be/src/test/java/codesquad/todo/card/controller/CardRestControllerTest.java
  be/src/test/java/codesquad/todo/card/service/CardServiceTest.java
Labels: backend, refactor

#88 [FE] Drag and Drop 기능 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ActivityHistory.tsx
  frontend/src/components/ActivityHistory/ActivityHistory.tsx
  frontend/src/components/ActivityHistoryItem.tsx
  frontend/src/components/Board.tsx
  frontend/src/components/Card/Card.tsx
  frontend/src/components/Card/CardMode.tsx
  frontend/src/components/Card/CardShadow.tsx
  frontend/src/components/Column.tsx
  frontend/src/components/ColumnCard/ColumnCard.tsx
  frontend/src/components/ColumnCard/ColumnCardDisplay.tsx
  frontend/src/components/ColumnCard/ColumnCardMode.tsx
  frontend/src/components/ColumnCard/NewColumnCard.tsx
  frontend/src/components/MainContent.tsx
  frontend/src/components/common/IconButton.tsx
  frontend/src/mocks/handlers.ts
Labels: feat, frontend

#89 [FE] Drag and Drop 기능 반영 후 release로 PR 요청
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ActivityHistory.tsx
  frontend/src/components/ActivityHistory/ActivityHistory.tsx
  frontend/src/components/ActivityHistoryItem.tsx
  frontend/src/components/Board.tsx
  frontend/src/components/Card/Card.tsx
  frontend/src/components/Card/CardMode.tsx
  frontend/src/components/Card/CardShadow.tsx
  frontend/src/components/Column.tsx
  frontend/src/components/ColumnCard/ColumnCard.tsx
  frontend/src/components/ColumnCard/ColumnCardDisplay.tsx
  frontend/src/components/ColumnCard/ColumnCardMode.tsx
  frontend/src/components/ColumnCard/NewColumnCard.tsx
  frontend/src/components/MainContent.tsx
  frontend/src/components/common/IconButton.tsx
  frontend/src/mocks/handlers.ts
Labels: feat, frontend

#92 #91 🐛fix: 카드 이동 버그 수정
  frontend/src/components/Card/Card.tsx
Labels: bug, frontend

#93 [FE]1 🐛fix: 카드 이동 버그 수정
  frontend/src/components/Card/Card.tsx
Labels: bug, frontend

#100 [BE] 카드 조회 문제해결
  be/src/main/java/codesquad/todo/card/service/CardService.java
  be/src/test/java/codesquad/todo/card/service/CardServiceTest.java
Labels: bug

#103 [FE] ActivityHistory 수정 및 기능 추가
  frontend/src/assets/default.jpeg
  frontend/src/components/ActivityHistory/ActivityHistory.tsx
  frontend/src/components/ActivityHistory/ActivityHistoryItem.tsx
  frontend/src/components/Column.tsx
  frontend/src/components/Header.tsx
  frontend/src/mocks/handlers.ts
Labels: feat, frontend
